<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="frontend/view/css/heart.css">
<div id="shop_list" class="">
    <div id="details" class="details">
        <div class="details"></div>
        <carousel interval="myInterval" no-wrap="noWrapSlides">
            <slide ng-repeat="img in car_details_img">
                <img src="{{img}}" ng-click="callback_shop()" style="margin:auto;">
            </slide>
        </carousel>
        <div id="detail_content">
            <div class="heart" ng-class="{'heart-active': car_details.like}" ng-click="car_like_details()"></div>
            <p><span data-tr="brand_name">brand</span>: <span class="text-detail">{{car_details.brand_name}}</span></p>
            <p><span data-tr="model_name">model</span>: <span class="text-detail">{{car_details.model_name}}</span></p>
            <p><span data-tr="price">price</span>: <span class="text-detail">{{car_details.price}} €</span></p>
            <p><span data-tr="km">km</span>: <span class="text-detail">{{car_details.km}}</span></p>
            <p><span data-tr="category_name">category</span>: <span class="text-detail"
                    data-tr="{{car_details.category_name}}">{{car_details.category_name}}</span></p>
            <p><span data-tr="fuel_type_name">fuel</span>: <span class="text-detail"
                    data-tr="{{car_details.fuel_type_name}}">{{car_details.fuel_type_name}}</span></p>
            <p><span data-tr="extres">extres</span>: <span class="text-detail">{{car_details.extres_formated}}</span>
            </p>
            <p><span data-tr="description">description</span>:<br> <textarea cols="70" rows="13"
                    disabled="">{{car_details.description}}</textarea>
            </p>
        </div>
        <span ng-click="close_details()"><i class="fa-solid fa-x fa-3x" id="close_btn"></i></span>
    </div>
    <div id="related_cars">
    <div id="map" style="width: 100px; height: 500px; padding-left: 20%; margin-left: 20%; margin-top: 2%;"></div>

        <p class="titels" data-tr="related_cars">Related cars</p>
        <div id="box_0" class="block-1 box-1" ng-repeat="cars_related in cars_related_group"
            infinite-scroll="scroll_related()" infinite-scroll-distance="0.001">
            <div class="div_hover" ng-repeat="car_related in cars_related">
                <img src="{{car_related.img}}" class="img">
                <p class="text-1">{{car_related.title}}<strong>{{car_related.price}}€</strong></p>
                <p class="upper"><b data-tr="category_name">category</b>: <span
                        data-tr="{{car_related.category_name}}">{{car_related.category_name}}</span></p>
                <p class="upper"><b data-tr="fuel_type_name">fuel</b>: <span
                        data-tr="{{car_related.fuel_type_name}}">{{car_related.fuel_type_name}}</span></p>
                <p class="upper"><b data-tr="km">km</b>: {{car_related.km}}</p>
                <p class="upper"><b data-tr="view_count">View count</b>: {{car_related.view_count}}</p>
                <p class="upper"><b data-tr="extres">extres</b>: {{car_related.extres_formated}}</p><a
                    href="#/shop/details/{{car_related.car_id}}" class="button" data-tr="See More">See More</a>
                <div class="heart" ng-class="{'heart-active': car_related.like}" ng-click="car_like_related()"></div>
            </div>
        </div>
    </div>
</div>

<div id="overlay">
    <div class="cv-spinner"><span class="spinner"></span></div>
</div>