<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<p class="titels" data-tr="brands">brands</p>

<carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
    <slide ng-repeat="brand in brands" active="slide.active">
        <img src="{{brand.brand_img}}" ng-click="callback_shop()" style="margin:auto;">
    </slide>
</carousel>

<section id="content">
    <p class="titels" data-tr="categorys">categorys</p>
    <div class="block-1 box-1" id="category">
        <div ng-repeat="category in categorys" ng-class="{'last': $last}">
            <img src="{{category.category_img}}">
            <p class="text-1" data-tr="{{category.category_name}}">{{category.category_name}}</p>
            <a class="button" data-tr="See More" ng-click="callback_shop()">See More</a>
        </div>
    </div>
    <p class="titels" data-tr="fuels">fuels</p>
    <div class="block-1 box_fuel" id="fuel_type">
        <div ng-repeat="fuel in fuels" ng-class="{'last': $last}">
            <img src="{{fuel.fuel_type_img}}">
            <p class="text-1" data-tr="{{fuel.fuel_type_name}}">{{fuel.fuel_type_name}}</p>
            <a class="button" data-tr="See More" ng-click="callback_shop()">See More</a>
        </div>
    </div>
    <p class="titels" data-tr="related_books">related books</p>
    <div id="related_books">
        <p>{{books.lenght}}</p>
    </div>
    <div id="see_more_books_div" class="block-1 box-1" ng-repeat="books in books_group">
        <div ng-repeat="book in books" ng-class="{'last': $last}">
            <img src="{{book.img}}">
            <p class="text-1">{{book.title}}</p>
            <p class="upper">
                <b data-tr="pages">pages</b>: <span>{{book.pages}}</span>
            </p>
            <p class="upper">
                <b data-tr="description">description</b>: <textarea rows=10 cols=25
                    class="book_textarea">{{book.desc}}</textarea>
            </p>
            <a href="{{book.link}}" class="button" data-tr="See More">See More</a>
        </div>
    </div>
    <span id="btn_more_books"><a data-tr="See More" class="button" ng-click="more_books()">See More</a></span>
</section>

<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>