<p class="titels" data-tr="brands">brands</p>
<div id="slider" class="owl-carousel owl-theme">
    <div class="item" ng-click="callback_shop()" ng-repeat="brand in brands">
        <img src="{{brand.brand_img}}">
    </div>
</div>

<section id="content">
    <p class="titels" data-tr="categorys">categorys</p>
    <div class="block-1 box-1" id="category">
        <div ng-repeat="category in categorys" ng-class="{'last': $last}">
            <img src="{{category.category_img}}">
            <p class="text-1" data-tr="{{category.category_name}}">{{category.category_name}}</p>
            <a class="button" data-tr="See More" ng-click="callback_shop()">See More</a>
        </div>
    </div>
    <p class="titels" data-tr="fuels">fuels</p>
    <div class="block-1 box_fuel" id="fuel_type">
        <div ng-repeat="fuel in fuels" ng-class="{'last': $last}">
            <img src="{{fuel.fuel_type_img}}">
            <p class="text-1" data-tr="{{fuel.fuel_type_name}}">{{fuel.fuel_type_name}}</p>
            <a class="button" data-tr="See More" ng-click="callback_shop()">See More</a>
        </div>
    </div>
    <p class="titels" data-tr="related_books">related books</p>
    <div id="related_books"></div>
    <div id="see_more_books_div"></div>
</section>

<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>