<form id="form_login" method="post" class="form">
    <fieldset><label for="username"><input type="text" placeholder="Usernme" name="username" id="username"></label>
        <label for="password"><input type="password" placeholder="Password" name="password" id="password"></label>
        <span id="login_errors" class="errors"></span><br>
        <span class="button" id="send_btn">Send</span>
        <br><span class="login_msg">You don't have an account, registere <a href="#/register">HERE</a></span>
    </fieldset>
    <!-- <span class="login_msg">If you don't remember your password, click <a id="btn-recover" href="#">HERE</a></span>
    <br><button id="social-google">Google</button>
    <br><button id="social-github">GitHub</button> -->
</form>