</head>

<body>
    <div class="bg">
        <header>
            <div class="main wrap">
                <h1><a href="#/home"><img src="frontend/view/img/logo.png"></a></h1>
                <p data-tr="Atzeneta d'Albaida, Spain">Atzeneta d'Albaida, Spain<span>+34 999999999</span></p>
            </div>
            <nav>
                <ul class="menu">
                    <li class="current"><a class="home" href="#/home"><img id="home_src"></a></li>
                    <li><a href="#/contact">Contact</a></li>
                    <li><select name="category_search" id="category_search" ng-model="$root.category_search"
                            ng-change="search_change_category()">
                            <option disabled selected value=""><span data-tr="category_name">Category</span><span>:
                                </span>
                            </option>
                            <option ng-repeat=" category in categorys_search" value="{{category.category_name}}">
                                {{category.category_name}}</option>
                        </select></li>
                    <li><select name="brand_search" id="brand_search" ng-model="$root.brand_search"
                            ng-change="search_change_brand()">
                            <option disabled selected value=""><span data-tr="brand_name">Brand</span><span>: </span>
                            </option>
                            <option ng-repeat=" brand in brands_search" value="{{brand.brand_name}}">
                                {{brand.brand_name}}</option>
                        </select></li>
                    <li>
                        <input type="text" name="city_search" id="city_search" placeholder="City" autocomplete="off"
                            ng-model="$root.city_search" ng-change="search_change_city()">
                        <div id="autocomplete" ng-model="$root.autocomplete">
                            <span class="search-item" ng-repeat="city in citys_search"
                                ng-click="select_city()">{{city.city}}</span>
                        </div>
                    </li>
                    <li ng-click="search_btn()"><i class="fa-solid fa-magnifying-glass fa-3x" id="search_button"></i>
                    </li>
                    <li ng-if="menutype == 'default'"><a href="#/login" data-tr="login">Login</a></li>
                    <li ng-if="menutype == 'user'" id="user_info">
                        <img src="{{user_data.avatar}}">
                        <span>{{user_data.username}}</span>
                        <span data-tr="logout" id="btn-logout" ng-click="logout()">Logout</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </nav>
        </header>
    </div>