<div>
	<h2>Contact</h2>
	<form id="contact_form" name="contact_form">
		<table>
			<tr>
				<td>Nombre y Apellidos: </td>
				<td><input id="name" name="name" ng-model="name" ng-pattern="rex_name" type="text" required="required" placeholder="Nombre" value="" />
				</td>
			</tr>
			<tr>
				<td>Correo electronico: </td>
				<td><input id="email" name="email" ng-model="email" ng-pattern="rex_email" type="text" required="required" placeholder="Correo electronico" value="" />
				</td>
			</tr>
			<tr>
				<td>Asunto: </td>
				<td>
					<select ng-model="asunto" id="asunto" name="asunto" ng-pattern="rex_asunto">
						<option disabled>Seleccione un asunto</option>
						<option>Problemas con la pagina</option>
						<option>Mejoras para la pagina</option>
						<option>Problemas con el registro</option>
						<option>Contacto para una promoción</option>
						<option>Otros</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Mensaje: </td>
				<td id="error_dinfo">
					<textarea rows="4" cols="50" ng-model="msg" ng-pattern="rex_msg" id="msg" name="msg"></textarea>
				</td>
			</tr>
		</table>
	</form>
	<br />
	<div>
		<button type="button" ng-click="send_email()" ng-disabled="contact_form.name.$invalid || contact_form.email.$invalid || contact_form.msg.$invalid || contact_form.asunto.$invalid">Enviar</button>
	</div>
	<br>
	<span id="status" class="titels"></span>
	<br>
	<br>
</div>